@mixin btns($width: 10rem) {
    width: $width;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    
    &:hover {
        color: black;
        background-color: white;
    }
}

@mixin arrow($left: auto, $right: auto) {
    position: absolute;
    top: 5rem;
    right: $right;
    left: $left;

    ion-icon {
        color: black;
        height: 2rem;
        width: 2rem;
    }
}

@mixin flex-property($align-items:normal, $justify-content: space-between, $gap: null, $direction: null) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;

    @if $direction !=null {
        flex-direction: $direction;
    }

    @if $gap !=null {
        gap: $gap;
    }   
}

// @mixin head-style{
//     font-size: 2.5rem;
//     margin: 4rem auto;
//     text-align: center;
// }