@use "mixin";
@use "faq";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Extend/Inheritance */
%head-style {
    font-size: 2.5rem;
    margin: 4rem auto;
    text-align: center;
}

%input-style {
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
}

// %forward-arrow {
//     position: absolute;
//     top: 5rem;
//     right: 1rem;

//     ion-icon {
//         color: black;
//         height: 2rem;
//         width: 2rem;
//     }
// }

// %backward-arrow {
//     position: absolute;
//     top: 5rem;
//     left: 1rem;

//     ion-icon {
//         color: black;
//         height: 2rem;
//         width: 2rem;
//     }
// }

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 100;
    background-color: white;
    @include mixin.flex-property($justify-content: space-between);

    /* Main head */
    .main-head {
        font-size: 1.5rem;

        span {
            color: variables.$color-secondary;
        }
    }

    #menu-toggle {
        display: none;
    }

    .nav-list {
        @include mixin.flex-property($align-items: center);
        gap: 2rem;
        list-style: none;
        color: variables.$faint-black;

        &-items a {
            text-decoration: none;
            color: inherit;
        }

        .account-icon ion-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    /* Hamburger Icon */
    .hamburger::before {
        content: "≡";
        font-size: 30px;
        visibility: hidden;
    }

    #menu-toggle:checked+.hamburger::before {
        content: "✖";
        font-size: 30px;
    }
}

.forward-arw-index {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
    z-index: 10;

    ion-icon {
        color: white;
    }
}

.backward-arw-about {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-about {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-products {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-products {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-faqs {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-faqs {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-contacts {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

/* Loader */
@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
        visibility: hidden;
    }
}

@keyframes overlay-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    z-index: 1000;
    animation: overlay-animation 4s ease-out forwards;

    .loader {
        height: 100px;
        width: 100px;
        border: 5px solid rgba(0, 0, 0, 0.607);
        border-radius: 50%;
        position: fixed;
        left: 45%;
        top: 45%;
        z-index: 10;
        border-top: 5px solid white;
        animation: rotate 2s ease-in;
    }
}



/* Hero Page */
.hero-pg {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-top: 3rem;
    background-image: url(../../images/hero-bgnew.jpg);
    background-size: cover;
    background-position: top;
    color: white;

    .overlay {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.384);
        @include mixin.flex-property($justify-content: center, $gap: 2rem, $direction: column);
        padding-left: 5%;

        h1 {
            font-size: 3rem;
        }

        p {
            width: 80%;
            font-weight: lighter;
            color: rgba(255, 255, 255, 0.692);
        }

        button {
            @include mixin.btns(11rem);
        }
    }
}

/* Intro section */
.intro {
    width: 90%;
    margin: 2rem auto;

    .intro-head {
        @extend %head-style;

        span {
            color: variables.$color-secondary;
            ;
        }
    }

    .intro-section {
        @include mixin.flex-property($gap: 3rem);

        .intro-image img {
            width: 35vw;
            height: auto;
        }

        .intro-content {
            @include mixin.flex-property($justify-content: center, $gap: 2rem, $direction: column);

            span {
                color: variables.$color-secondary;
            }

            .intro-para {
                color: variables.$faint-black;
            }

            a {
                color: variables.$color-secondary;
                ;
                text-decoration: none;
            }
        }
    }
}

/* Gallery */
.gallery {
    h1 {
        @extend %head-style;
    }

    .products {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        img {
            width: 100%;
            height: auto;
        }
    }
}

/* Contact form  */
.contact-section {
    width: 100%;
    margin-top: 4rem;
    padding: 2rem;

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .contact-form {
        width: 70%;
        margin: 3rem auto;
        @include mixin.flex-property($align-items: center, $justify-content: space-around, $gap: 2rem, $direction: column);

        .user-details {
            width: 100%;
            @include mixin.flex-property($gap: 3rem);

            .name-input,
            .mail-input {
                width: 40%;

                input {
                    @extend %input-style;
                }

                label {
                    display: block;
                }
            }
        }

        .message-input {
            width: 100%;

            textarea {
                border: none;
                border-bottom: 2px solid black;
                background: transparent;
                width: 100%;
            }
        }

        button {
            @include mixin.btns(11rem);
            font-size: 1rem;
        }
    }
}

/* Footer  */
footer {
    height: 4rem;
    background-color: black;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    padding: 1rem;

    h4 {
        font-weight: lighter;
    }

    span {
        color: rgba(255, 0, 0, 0.76);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* Responsiveness */
@media screen and (max-width:700px) {
    .intro {
        width: 80%;

        .intro-section {
            flex-direction: column;

            .intro-image img {
                width: 60vw;
            }

            .intro-content h1 {
                font-size: 1.7rem;
            }
        }
    }

    .intro .intro-head,
    .gallery h1,
    .contact-section h1 {
        font-size: 2.1rem;
    }

    .contact-section .contact-form {
        width: 80%;
    }

    .gallery .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        .hamburger::before {
            display: block;
            position: absolute;
            right: 2rem;
            top: 1rem;
            visibility: visible;
        }

        .nav-list  {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 4rem;
            left: 0;
            padding: 3rem;
            width: 100%;
            background: #ffffff;
            text-align: center;
        }

        #menu-toggle:checked+.hamburger+.nav-list  {
            display: flex;
        }
    }
}

@media screen and (max-width:500px) {

    .navbar {
        padding: 1rem;

        .main-head {
            font-size: 1.2rem;
        }
    }

    .intro .intro-head,
    .gallery h1,
    .contact-section h1 {
        font-size: 1.8rem;
    }

    .intro .intro-section {
        .intro-content h1 {
            font-size: 1.5rem;
        }

        .intro-image img {
            width: 70vw;
        }
    }

    .contact-section .contact-form {
        width: 90%;

        .user-details {
            flex-direction: column;

            .name-input,
            .mail-input {
                width: 100%;
            }
        }
    }

    .gallery .products {
        grid-template-columns: 1fr;
    }
}