@use "./mixins/mixin";
@use "./partials/faq";
@use "./partials/animation";
@use "./variables/variables";
@use "./inheritance/inherit";
@use "./functions/functions";
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Loop Usage */
@include mixin.generate-margin(margin, m);

$sizes: (
    "large": 2.5rem,
    "medium": 2rem,
    "small": 1.4rem,
    "xs": 1.1rem,
    "xxs": 0.9rem
);

$tablet-sizes: (
    "large": 2rem,
    "medium": 1.75rem,
    "small": 1.25rem,
    "xs": 1rem,
    "xxs": 0.8rem
);

$mobile-sizes: (
    "large": 1.75rem,
    "medium": 1.5rem,
    "small": 1.2rem,
    "xs": 0.9rem,
    "xxs": 0.7rem
);

@include mixin.responsive-font-sizes($sizes, $tablet-sizes, $mobile-sizes);

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 100;
    background-color: white;
    @include mixin.flex-property($justify-content: space-between);

    /* Main head */
    .main-head {

        span {
            color: variables.$color-secondary;
        }
    }

    #menu-toggle {
        display: none;
    }

    .nav-list {
        @include mixin.flex-property($align-items: center);
        gap: 2rem;
        list-style: none;
        color: variables.$faint-black;

        &-items a {
            text-decoration: none;
            color: inherit;
        }

        .account-icon ion-icon {
            height: 1.5rem;
            width: 1.5rem;
        }

        &-items:hover {
            color: black;
            transform: scale(1.05);
        }
    }

    /* Hamburger Icon */
    .hamburger::before {
        content: "≡";
        font-size: functions.rem(30);
        visibility: hidden;
    }

    #menu-toggle:checked+.hamburger::before {
        content: "✖";
        font-size: functions.rem(30);
    }
}

.forward-arw-index {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
    z-index: 10;

    ion-icon {
        color: white;
    }
}

.backward-arw-about {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-about {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-products {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-products {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-faqs {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

.forward-arw-faqs {
    // @extend %forward-arrow;
    @include mixin.arrow($right: 1rem);
}

.backward-arw-contacts {
    // @extend %backward-arrow;
    @include mixin.arrow($left: 1rem);
}

/* Loader */

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    z-index: 1000;
    animation: overlay-animation 2s ease-out forwards;

    .loader {
        height: 100px;
        width: 100px;
        border: 5px solid rgba(0, 0, 0, 0.607);
        border-radius: 50%;
        position: relative;
        margin: auto;
        top: 40%;
        z-index: 10;
        border-top: 5px solid white;
        animation: rotate 2s ease-in;
    }
}

// Modal 
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.acc-dialog {
    margin: auto;

    .dialog-content {
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .close-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 1rem;
            cursor: pointer;
        }

        .signIn-form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;

            .username .username-input,
            .password .password-input {
                border: none;
                border-bottom: 1px solid black;
            }

            .submit-btn input {
                @include mixin.btns(8rem);
            }
        }
    }
}


/* Hero Page */
.hero-pg {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-top: 3rem;
    background-image: url(../../images/hero-bgnew.jpg);
    background-size: cover;
    background-position: top;
    color: white;

    .overlay {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.384);
        @include mixin.flex-property($justify-content: center, $gap: 2rem, $direction: column);
        padding-left: 5%;

        p {
            width: 80%;
            font-weight: lighter;
            color: rgba(255, 255, 255, 0.692);
        }

        button {
            @include mixin.btns(11rem);
        }
    }
}

/* Intro section */
.intro {
    width: 90%;
    margin: 2rem auto;

    .intro-head {
        @extend %head-style;

        span {
            color: variables.$color-secondary;
            ;
        }
    }

    .intro-section {
        @include mixin.flex-property($align-items: center, $gap: 3rem);

        .intro-image img {
            width: 35vw;
            height: auto;
            position: relative;
            // transform: translateX(
            //     if($direction == left, -100px, 100px)
            // );
            // transition: all 0.6s ease-in-out;
            // left: -150%;
            // animation: slide 1s ease-in forwards;

            // opacity: 0;
            // --start-position: -150%; 

            // animation: slide-in linear both;
            // animation-timeline: view();
            // animation-range: entry 20% cover 50%;
        }

        .intro-content {
            @include mixin.flex-property($justify-content: center, $gap: 2rem, $direction: column);

            .intro-para {
                color: variables.$faint-black;
            }

            .learn-more {
                color: variables.$color-secondary;
                text-decoration: none;

                ion-icon {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}

.fashion-video {
    position: relative;
    width: 75vw;
    max-width: functions.rem(700);
    padding-bottom: 35.25%;
    box-shadow: 5px 5px 5px variables.$faint-black;
    /* Aspect ratio (16:9) 56.25% */
    // height: functions.calculateHeight();
    margin: 4rem auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Gallery */
.gallery {
    .gallery-head {
        @extend %head-style;
    }

    .products {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: 2px 2px 10px black;
            }
        }
    }
}

/* Contact form  */
.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    .contact-head {
        @extend %head-style;
    }

    .contact-form {
        width: 70%;
        max-width: 750px;
        margin: auto;
        @include mixin.flex-property($align-items: center, $justify-content: space-around, $gap: 2rem, $direction: column);

        .user-details {
            width: 100%;
            @include mixin.flex-property($gap: 2rem);

            .name-input,
            .mail-input {
                width: 40%;

                input {
                    @extend %input-style;
                }

                label {
                    display: block;
                }
            }
        }

        .other-details {
            width: 100%;
            @include mixin.flex-property($gap: 2rem);

            .inspiration,
            .reason-to-connect {
                width: 40%;

                select {
                    @extend %input-style;
                    position: relative;
                    margin-top: 0.5rem;
                }

                input {
                    @extend %input-style;
                    border: none;
                    position: relative;
                    margin-top: 0.5rem;
                }

                label {
                    display: block;
                }
            }
        }

        .message-input {
            width: 100%;

            textarea {
                border: none;
                border-bottom: 2px solid black;
                background: transparent;
                width: 100%;
            }
        }

        button {
            @include mixin.btns(11rem);
        }
    }
}


/* Footer  */
footer {
    height: 4rem;
    background-color: black;
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    padding: 1rem;

    h4 {
        font-weight: lighter;
    }

    span {
        color: rgba(255, 0, 0, 0.76);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* Responsiveness */
@media screen and (max-width:768px) {
    .intro {
        width: 80%;

        .intro-section {
            flex-direction: column;

            .intro-image img {
                width: 75vw;
            }
        }
    }

    .fashion-video {
        padding-bottom: 45%;
    }

    .contact-section .contact-form {
        width: 80%;
    }

    .gallery .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        .hamburger::before {
            display: block;
            position: absolute;
            right: 2rem;
            top: 1rem;
            visibility: visible;
        }

        .nav-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 4rem;
            left: 0;
            padding: 3rem;
            width: 100%;
            background: #ffffff;
            text-align: center;
        }

        #menu-toggle:checked+.hamburger+.nav-list {
            display: flex;
        }
    }
}

@media screen and (max-width:480px) {

    .navbar {
        padding: 1rem;
    }

    .intro .intro-section {

        .intro-image img {
            width: 70vw;
        }
    }

    .gallery .products {
        grid-template-columns: 1fr;
    }

    .contact-section .contact-form {
        width: 60%;
        min-width: functions.rem(220);

        .user-details,
        .other-details {
            flex-direction: column;

            .name-input,
            .mail-input,
            .inspiration,
            .reason-to-connect {
                width: 100%;
            }
        }
    }
}