@use "../variables/variables";

.faq-main {
    padding-bottom: 4rem;

    .faq-section {
        width: 70%;
        margin: auto;

        h1 {
            margin: 4rem auto;

            span {
                color: variables.$color-secondary;
            }
        }

        .faqs {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .faq .que {
                font-weight: bolder;
                margin-bottom: 1rem;
            }

            .faq .ans {
                color: variables.$faint-black;
            }
        }
    }
}

.navbar .main-head a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .faq-main .faq-section{
        width: 85%;

        h1{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .faq-main .faq-section{
        width: 90%;

        h1{
            font-size: 1.7rem;
        }
    }
}