@use "../variables/variables";
@use "../mixins/mixin";
@use "../inheritance/inherit";


.faq-main {
    padding-bottom: 4rem;

    .faq-section {
        width: 70%;
        margin: auto;

        .faq-head {
            @extend %head-style;

            span {
                color: variables.$color-secondary;
            }
        }

        .faqs {
            @include mixin.flex-property($gap:2rem, $direction:column);

            .faq .que {
                font-weight: bolder;
                margin-bottom: 1rem;
            }

            .faq .ans {
                color: variables.$faint-black;
            }
        }
    }
}

.navbar .main-head a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .faq-main .faq-section{
        width: 85%;
    }
}
